.header {
    max-width: 880px;
    min-height: 74px;
    margin: 45px auto 62px;
    border-bottom: 1px solid #545454;
    opacity: 0.7;
}

@media (max-width: 400px) {
  .header {
    margin: 28px auto 42px;
  }
}