.button__like {
  position: absolute;
  width: 22px;
  height: 19px;
  bottom: 30px;
  right: 20px;
  padding: 0;
  outline: none;
  border: none;
  background: url(../../../images/Vector.png);
}

.button__like:hover {
  opacity: 0.5;
}
